BR2_x86_64=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_12=y
BR2_GLOBAL_PATCH_DIR="board/qemu/patches"
BR2_DOWNLOAD_FORCE_CHECK_HASHES=y

# External tree for osnode package
BR2_EXTERNAL="$(TOPDIR)/external"

# Minimal system configuration
BR2_SYSTEM_DHCP="eth0"
BR2_TARGET_GENERIC_HOSTNAME="storageos"
BR2_TARGET_GENERIC_ISSUE="StorageOS node"
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"
BR2_ROOTFS_OVERLAY="board/storageos/rootfs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/storageos/post-build.sh board/qemu/x86_64/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/qemu/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="$(BR2_DEFCONFIG)"

# Linux kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="6.12.47"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/qemu/x86_64/linux.config"
BR2_LINUX_KERNEL_NEEDS_HOST_LIBELF=y

# Minimal rootfs - EXT2 only
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_SIZE="128M"
# BR2_TARGET_ROOTFS_TAR is not set

# Disable unnecessary features
# BR2_PACKAGE_BUSYBOX_SHOW_OTHERS is not set

# Essential core packages
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_UTIL_LINUX_BINARIES=y
BR2_PACKAGE_UTIL_LINUX_FSCK=y
BR2_PACKAGE_IPROUTE2=y
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_CURL=y

# StorageOS packages
BR2_PACKAGE_CLOUDFLARED=y
BR2_PACKAGE_OSCORE=y
BR2_PACKAGE_OSNODE=y
BR2_PACKAGE_OS_STORAGE_SERVER=y
BR2_PACKAGE_STORAGEMGR=y

# Disable GUI and graphics
# BR2_PACKAGE_XORG7 is not set
# BR2_PACKAGE_QT5 is not set
# BR2_PACKAGE_QT6 is not set
# BR2_PACKAGE_GTK3 is not set
# BR2_PACKAGE_SDL2 is not set
# BR2_PACKAGE_MESA3D is not set

# Host tools
BR2_PACKAGE_HOST_QEMU=y
BR2_PACKAGE_HOST_QEMU_SYSTEM_MODE=y
